html,
body {
	font-size: 20px;
}

main {
	padding: 1rem;
	box-sizing: border-box;
}

header {
	text-align: center;
	margin: 1rem;
}

section {
	max-width: 1100px;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));

	place-items: center;
}

section div {
	max-width: 400px;
	grid-column: span 4;

}

.graphic {
	max-width: 100%;
	grid-column: span 6;
}

#times div {
	max-width: 600px;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(325px, 100%), 1fr))
}

#results p {
	margin: 5px;
	font-size: 16px;
	
}

.block {
	display: inline-block;
	height: 15px;
	width: 15px;
	margin-right: 0.5rem;
  }

h1 {
	font-size: 1.3rem;
	margin: 10px 0;
}

address {
	margin: 0 1rem;
}

address a {
	color: inherit;
}

h2 {
	font-family: var(--hed-font);
	font-size: 1rem;
	margin: 0 15px;
}

h3 {
	font-size: 0.8rem;
	font-weight: normal;
	margin: 0 20px;
}

#tooltip-times {
	position: absolute;
	font-family: 'Open Sans';
	font-size: 14px;
	width: 230px;
	height: 95px;
	box-sizing: border-box;
	pointer-events: none;
	top: 20px;
	left: 10px;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 2px 1px gray;
	opacity: 0;
}

#tooltip-results {
	position: absolute;
	font-family: 'Open Sans';
	font-size: 14px;
	width: 160px;
	height: 100px;
	box-sizing: border-box;
	pointer-events: none;
	top: 20px;
	left: 10px;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 2px 1px gray;
	opacity: 0;
  }

  #tooltip-results p {
	margin: 5px;
  }